body{
   background-color: black; 
   overflow: hidden;
}
.container{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: orange;
    font-weight: bold;
    line-height: 50px;
    width: 800px;
    height: 100vh;
    transform: perspective(250px) rotateX(20deg);
    animation: wars 30s linear infinite;
}
.header{
    text-align: center;
    text-transform: uppercase;   
}
.sub-header{
    text-align: center;
    text-transform: uppercase; 
}
.some-text{
    margin-bottom: 20px;
}
@keyframes wars{
    0%{
        transform: perspective(250px) rotateX(20deg) translateY(600px);
    }
   
    100%{
        transform: perspective(250px) rotateX(20deg) translateY(-400px);
    }
}